@import "theme/color";
.logo a {
  font-size: 2rem;
  line-height: 1.45;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  flex: 1;
  color: $secondary_color;
}
nav {
  padding: 2.75rem 10% 0 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  @media (max-width: 750px) {
    padding: 0;
  }
}

.active {
  color: $third_color;
  @media (max-width: 750px) {
    color: $secondary_color;
  }
}
/* ---- Responsive menu --- */
.hamburger {
  margin: 0;
}

.hamburger span {
  background-color: $secondary_color;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
  display: block;
  transition: 0.3s all ease;
  height: 0.5rem;
  width: 0.7rem;
}

.hamburger span:nth-child(1) {
  width: 2.5rem;
}

.hamburger span:nth-child(2) {
  width: 2rem;
}

.hamburger:hover span:nth-child(3) {
  width: 2.5rem;
}

.hamburger:hover span:nth-child(2) {
  width: 2rem;
}

.hamburger:hover span:nth-child(1) {
  width: 0.7rem;
}

.toggle {
  margin: 0;
  padding: 3rem;
  // If the screen width is wider, the toggle icon isn't visible
  @media (min-width: 750px) {
    display: none;
  }
}

.nav--links {
  // Lilnks initially are not visible *smaller screens
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0 0.4rem 1rem 1rem;
  background-color: $third_color;
  z-index: 1;
  width: 100%;
  font-size: 1.5em;

  @media (min-width: 750px) {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 1.45;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
  }

  li {
    @media (max-width: 750px) {
      padding: 1.4rem 0 0 1rem;
      margin: 1rem;
    }
  }
}

/* -- nav open -- */

.nav--links.open {
  display: flex;
}

ul {
  @include flex();
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
}
a {
  color: $secondary_color;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
a:after {
  background-color: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background-color: $secondary_color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
a:hover {
  color: $third_color;
  text-decoration: none;
}
