@import 'base/reset';
@import 'theme/color';
.logo a {
  font-size: 1.5rem;
  color: $fourth_color;
  line-height: 1.45;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  flex: 1;
  color: $secondary_color;
  border-bottom: 1px solid $secondary_color;
}
.logo {
  @media (max-width: 750px) {
    display: none;
  }
}
nav {
  grid-area: nav;
  padding: 2.2rem 0 0 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: lowercase;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  width: 100%;
  @media (max-width: 750px) {
    padding: 0;
    height: 100vh;
    position: fixed;
  }
}

.active {
  color: $third_color;
  @media (max-width: 750px) {
    color: $secondary_color;
  }
}
/* ---- Responsive menu --- */

.hamburger span {
  background-color: $secondary_color;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
  display: block;
  transition: 0.3s all ease;
  height: 0.5rem;
  width: 0.7rem;
}

.hamburger span:nth-child(1) {
  width: 2.5rem;
}

.hamburger span:nth-child(2) {
  width: 2rem;
}

.hamburger:hover span:nth-child(3) {
  width: 2.5rem;
}

.hamburger:hover span:nth-child(2) {
  width: 2rem;
}

.hamburger:hover span:nth-child(1) {
  width: 0.7rem;
}

.toggle {
  position: absolute;
  left: 2rem;
  top: 2rem;
  padding: 1rem;
  // If the screen width is wider, the toggle icon isn't visible
  @media (min-width: 750px) {
    display: none;
  }
}

.nav--links {
  // Lilnks initially are not visible *smaller screens
  position: relative;
  display: none;
  flex-direction: column;
  background-color: $primary_color;
  border: 1px solid $secondary_color;
  z-index: 1;
  font-size: 1.8rem;

  @media (min-width: 750px) {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 1.45;
    font-size: 1.4rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    border: 0;
  }

  li {
    @media (max-width: 750px) {
      padding: 1rem 0 0 1rem;
      margin: 1rem;
    }
  }
}

/* -- nav open -- */

.nav--links.open {
  display: flex;
}

ul {
  @include flex();
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
  width: 90rem;

  @media (max-width: 750px) {
    height: 100vh;
    justify-content: space-around;
    width: 30rem;
    text-align: left;
    padding: 2rem 0 0 2rem;
  }
}
li {
  flex: 2;
  display: table-cell;
  position: relative;
}
a {
  color: $secondary_color;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
a:after {
  background-color: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background-color: $secondary_color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
a:hover {
  color: $third_color;
  text-decoration: none;
}
/* close nav */
@media (max-width: 750px) {
  .logo--mobile img {
    width: 6.5rem;
    height: 6.5rem;
  }
  .arrows {
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 2rem;
    z-index: 1;
  }
  .arrow span {
    background-color: $secondary_color;
    border-radius: 0.4rem;
    margin-bottom: 0.6rem;
    display: block;
    transition: 0.3s all ease;
    height: 0.5rem;
    width: 0.7rem;
  }
  .arrow span:nth-child(1) {
    width: 2.5rem;
  }

  .arrow span:nth-child(2) {
    width: 2rem;
  }
  .arrow:hover span:nth-child(1) {
    width: 2rem;
  }

  .arrow:hover span:nth-child(2) {
    width: 2rem;
  }
}
/* hide */
@media (min-width: 750px) {
  .logo--mobile {
    display: none;
  }
}
