@import "../theme/color";
@import "../abstracts/mixins";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$green: #51ff5a;
$red: #ff3729;

.quiz--wrapper {
@include flexCenter();
}
@keyframes roll-in {
  0% {
    top: 1rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.fade-in {
  animation: fade 0.75s ease;
}

.quiz {
  margin: 2em auto;
  min-height: 40vh;
  font-size: 1.6rem;

  .progress {
    position: relative;
    transition: width 0.4s ease;
    margin-bottom: 1em;
    background: $fifth_color;
    border-radius: 0;
    width: 100%;
    height: 2em;

    .progress-bar {
      background-color: $sixth_color;
    }

    .counter {
      position: absolute;
      right: .5rem;
      top: 0;
      font-weight: normal;
      color: $primary_color;
      height: 100%;
      font-size: 1.25em;
      margin: auto 0.5em;
      letter-spacing: 0.025em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  form {
    width: 90%;
    margin: 1.5em auto;
  }

  .img-fluid {
    margin: 2em auto;
    max-width: 36rem;
    display: block;
  }

  .question {
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 0.75em;
    color: $fourth_color;
  }

  .option {
    margin-bottom: 0.25em;
    transition: all 0.25s ease;
    font-size: 0.9em;
  }

  button {
    padding: 0.75em;
    background-color: $sixth_color;
    border: 0;
    color: $fifth_color;
    font-size: 1em;
    transition: 0.25s all;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;

    i {
      margin-left: 15em;
    }

    &:disabled {
      opacity: 5;
    }
  }

   //custom radio controls
   input[type="radio"] {
    position: absolute;
    left: -9999px;
    
      & + label {
      position: relative;
      font-weight: normal;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: $fifth_color;
        
      &::before {
        text-align: center;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $fifth_color;
        border-radius: 100%;
        background: transparent;
      }
        
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: $sixth_color;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        transition: all 0.2s ease;
      }
    }
  }
  
  .dim,
  .correct {
    input[type="radio"] + label::before {
      border: 0;
      font-size: 1.2em;
      animation: 0.25s roll-in ease;
    }

    input[type="radio"] + label::after {
      display: none;
    }
  }

  .correct input[type="radio"] + label:before {
    content: "\f00C";
    font-family: "FontAwesome" !important;
    color: $green;
  }

  .dim input[type="radio"]:checked + label:before {
    content: "\f00d";
    font-family: "FontAwesome" !important;
    color: $red;
  }

  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  //end custom radio controls

  .dim {
    opacity: 0.5;
  }

  .bottom {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    div {
      flex: 1 1 70%;
      font-size: 9rem;
    }

    .next {
      flex: 0 1 10%;
      margin-left: 3rem;
    }

    @media (max-width: 600px) {
      div,
      .next {
        flex-basis: 100%;
      }

      .next {
        margin-left: 0;
      }
    }
  }

  .get-results {
    display: block;
    margin: 2rem auto;
  }
  h1 {
    color: $fourth_color;
  }

  .results {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;

    button {
      margin-top: 1rem;
    }
  }
}
