@import "../theme/color";
@import "../abstracts/mixins";

.companies-wrapper {
  min-width: 100%;
  min-height: 100%;
}
#company--popup {
  position: absolute;
  left: 1rem;
  margin: 0.1rem 0.1rem 0 0;
  @include flexCenter();
  width: 2rem;
  height: 2rem;
  border: 1px solid $third_color;
  background: transparent;
  border-radius: 50%;
  span {
    @include flexCenter;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid $third_color;
    background: $third_color;
    border-radius: 50%;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-top: 5%;
  height: 100vh;
  width: 100%;
  justify-content: space-around;

}
.card {
  @include flex();
  width: 22rem;
  height: 25rem;
  background-color: $primary_color;
  color: $secondary_color;
  border: 1px solid $fifth_color;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.circle--companay {
  @include flexCenter();
  margin: 0 auto;
   width: 6.5rem;
   height: 6.5rem;
  border-radius: 50%;
  // border: .1rem solid $fifth_color;
}
.circle--companay img {
  @include flexCenter();
  border-radius: 50%;
}

.company--text {
  position: relative;
  @include flexCenter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: lowercase;
}
