@import "../theme/color";
@import "../abstracts/mixins";
.home--wrapper {
  min-width: 100%;
  min-height: 100vh;
}

.first--view {
  min-height: 100vh;
  min-width: 100%;
}
.hero {
  @include center();
  font-size: 4rem;
  color: $fourth_color;
  letter-spacing: 0.22rem;
  font-weight: 900;
  text-transform: uppercase;
  @include fade();
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.second--view {
  @include flex();
  min-height: 80vh;
  margin: 5%;
}
.mission {
  @include flexCenter();
  flex-direction: column;
  flex-wrap: wrap;
  width: 60rem;
  height: 50rem;
}
h3 {
  padding: 1.8rem;
  font-size: 4.5rem;
  text-align: center;
  color: $fourth_color;
  text-transform: lowercase;
  font-weight: 700;
}
.mission--text {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2;
  color: $fourth_color;
}
.circle {
  @include flex();
  flex-wrap: wrap;
  flex-direction: column;
}
.credit {
  width: 5rem;
  color: $fourth_color;
}
.circle img {
  width: 50rem;
  border-radius: 50%;
}
.third--view {
  @include flex();
  margin: 5%;
  background-color: #000000;
  color: $fourth_color;
}
h4,
h5,
h6 {
  font-size: 5.5rem;
  color: $fourth_color;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-weight: 700;
  overflow: hidden;
}
h5 {
  color: $fifth_color;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
h6 {
  color: $fifth_color;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
}
.story--month {
  @include flexCenter();
  flex-direction: column;
  margin: 2%;
  width: 60rem;
}
.story--month-feature {
  text-transform: lowercase;
}
.story__company__name {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.story--company__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2;
  white-space: pre-wrap;
}
.story--images {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  width: 40rem;
}
.story--images img {
  width: 40rem;
  padding: 1.4rem;
}
.fourth--view-four {
  min-height: 100vh;
  width: 100%;
}
.company--selection {
  @include flexCenter();
}
.select--field {
  flex-direction: row;
  flex-wrap: wrap;
  width: 50rem;
  @include flex();
  overflow: hidden;
}
.select--field label {
  flex-wrap: wrap;
  @include flexCenter();
  color: $fourth_color;
  font-weight: 700;
  font-size: 1.4rem;
}
.select--item {
  margin: 1rem;
  height: 14rem;
  width: 14rem;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-transform: lowercase;
  transition: 0.5s all ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.select--item-green {
  border: 6px solid $sixth_color;
  // box-shadow: 0px 2px 6px 2px $sixth_color ;
}
.select--item-pink {
  border: 6px solid $fifth_color;
  // box-shadow: 0px 2px 6px 2px $fifth_color;
}
#select-field--wrapper {
  @include flex();
  flex-direction: column;
  height: 50rem;
  width: 50vw;
  border: 6px solid $sixth_color;
  flex-wrap: wrap;
}
#select-field--info p {
  min-width: 100vh;
  color: $fifth_color;
  width: 40vw;
  font-size: 2.6rem;
  line-height: 2;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: center;
}
#start {
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: $fifth_color;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  outline: none;
  transition: 1s all ease;
  &:hover {
    transform: scale(1.1);
    color: $sixth_color;
  }
}
