@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,500,600,700&display=swap');
$primary_color: #141615;
$secondary_color:#50E0BF;
$third_color: #000;
$fourth_color: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Poppins', sans-serif;
  background: $third_color;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
.site--wrapper {
  min-height: 100%;

}
.logo  a{
  font-size: 2.2rem;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  flex: 1;
  color: $secondary_color;

}
nav {
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  padding: 2.75rem 10% 0 10%;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  background: transparent;
  ul {
    display: flex;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: none;
    font-size: 1.1rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background: transparent;

  }
  a {
    color:$fourth_color;
    text-decoration: none;
    background: transparent;
  }
}
li {
  font-size:2.2rem;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  text-align: center;
  padding: 0;
  background: transparent;
}
.first--view{
position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in; 
}
.hero{
display: flex;
  width: 100vw;
height: 100vh;
}
#canvas {
float:right;
  width: 900px;
  position: relative;
  z-index: 4;
  background:transparent;

}
.second--view{
  color: $fourth_color;
display: flex;
flex-direction: column;
position: relative;
z-index: 3;
margin: 0 auto;
padding: 8rem;
h2{
  font-size: 4em;
}
p{
font-size: 1em;
}
}